// breakpoints
$sm: 450px;
$lg: 1250px;

// media queries
$mobile: "(max-width: #{$sm})";
$tablet: "(min-width: #{$sm}) and (max-width: #{$lg})";
$desktop: "(min-width: #{$lg})";

// margins

// variables (css)
:root {
  --clr-primary: black;
  --clr-secondary: black;
  --shadow-primary: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// if 1rem = 16px;

// 6px = 0.375
// 8px = 0.5rem
// 10px = 0.625rem
// 12px = 0.75rem
// 14px = 0.875rem
// 16px = 1rem (base)
// 18px = 1.125rem
// 20px = 1.25rem
// 24px = 1.5rem
// 30px = 1.875rem
// 32px = 2rem
