@import url("./normalize.css");
@import url("./reset.css");
@import url("./typog.css");
@import url("./utils.css");
@import url("./transitions.css");

body {
  /* border: 5px black solid; */
}

#app {
  /* border: 5px red solid; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
