/* TRANSITIONS */

/* FADE */

/* create the transition */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-in-out;
    /* , transform 0.3s ease */
}

/* the next entering component has to await the leaving animation to end */
.fade-enter-active {
    transition-delay: 0.3s;
}
/* page entering - initial state */
/* page leaving - final state */
.fade-enter,
.fade-leave-to {
    opacity: 0;
    /* transform: translateX(-100px); */
}
/* page entering - final state */
/* page leaving - initial state */
.fade-enter-to,
.fade-leave {
    opacity: 1;
    /* transform: translateX(0); */
}

/* POP-OUT */
